# ========================

# Python

# ========================

__pycache__/
*.pyc
*.pyo
*.pyd

# ========================

# Jupyter Notebook

# ========================

.ipynb_checkpoints/

# ========================

# Environnements

# ========================

venv/
env/
.venv/

# ========================

# OS files

# ========================

.DS_Store
Thumbs.db
.MACOSX/

# ========================

# Dataset

# ========================

data/

# ========================

# Models (optionnel selon taille)

# ========================
app/best_model.keras
models/best_model.keras
*.keras
*.h5
*.pt
*.pth

# ========================

# Logs & outputs

# ========================

logs/
*.log

# ========================

# VS Code

# ========================

.vscode/

# ========================

# Flask cache

# ========================

instance/
